<robot name="ban.obj">
	<link name="_name">
		<visual>
			<origin xyz="-75.00003068822114 -145.27150142268243 -75.00253395116827" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="ban.obj" scale="1 1 1" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin xyz="-75.00003068822114 -145.27150142268243 -75.00253395116827" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="ban_vhacd.obj" scale="1 1 1" />
			</geometry>
		</collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>